.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0px 20px;
  margin-top: 18px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
}

.header__searchIn {
  height: 18px;
  padding: 10px;
  border: none;
  width: 90%;
  border-radius: 4px 0px 0px 4px;
}

.header__searchIcon {
  padding: 0px 8px;
  height: 38px !important;
  background-color: #cd9042;
  border-radius: 0px 4px 4px 0px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header__optionLineOne {
  font-size: 12px;
}

.header__optionLineTwo {
  font-size: 14px;
  font-weight: 800;
}

.header__optionBasket {
  margin-left: 10px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  color: white;
}

.header__basketCount {
  color: #cd9042;
  font-size: 14px;
  font-weight: 800;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
  color: white;
}
.header__cartOption {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
